.projects-container{
    height: 300px;
    background: gray;
    display: flex;
    flex-direction: column;
}

.rent-ops-img{
    height: 100px;
    width: 160px;
}

.big-project{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
section{
    margin-top: 7px;
    display: flex;
    align-items: center;
}
p{ 
    margin-left: 5px;
    font-size: .75em;
    text-align: left;
}