.projects-container{
    height: 350px;
    background:#A2D9DC;
    display: flex;
    flex-direction: column;
}

.rent-ops-img{
    height: 100px;
    width: 160px;
}

.big-project{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
section{
    margin-top: 7px;
    display: flex;
    align-items: center;
}
p{ 
    margin-left: 5px;
    font-size: .75em;
    text-align: left;
}

@media screen and (min-width: 1000px){
    .projects-container{
        height: 90vh;
        flex-direction: row;
        justify-content: space-around;

    }
    .rent-ops-img{
        height: 300px;
        width: 500px;
    }
    /* .big-project{
        
       
    } */
    section{
        display: flex;
        flex-direction: column;
        
    }
    p{
        width: 400px;
        font-size: 2em;
        margin-top: 10px;
    }
}