.technologies-container{
    height: 300px;
    background:#0DA7A9;
    color: lightgray;
}

.stack-content{
    /* border: 1px solid white; */
    width: 100%;
    height: 80%;
    display: flex;
    /* color: lightgray; */
    background: #0DA7A9;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 900px) {
      width: 100%
    }
  }