.intro-container{
    height: 300px;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
p{
    display: inline-block;
}

.center{
    height: 30%;
}

img{
    height: 120px;
    width:120px;
    border-radius: 50%;
    position: relative;
    left:110px;
    bottom: 85px;
}

h1 {
    font-size: 1.5rem;

}


.name-container {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
}

.typing-container{
     display: flex;
     width:200px;
     align-items: start;
     margin-left: 40px;
}