.intro-container{
    height: 300px;
    background: #a6f0c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
/* p{
    display: inline-block;
} */

.center{
    height: 30%;
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.me-img{
    height: 130px;
    width:130px;
    border-radius: 50%;
    /* position: relative; */
    /* left:110px; */
    /* bottom: 82px; */
}

.aaron-manwill {
    font-size: 1.3rem;
    text-align: left;
}
.name-container {
    width:200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: start; */
    /* margin-left: 40px; */
    /* margin-left: 10%; */
}
.role{
    text-align: left;
    margin:0
}


@media screen and (min-width: 1000px){
    .intro-container{
        height: 95vh;
    }
    .center{
        margin-left: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .name-container{
        width: 500px;
    }
    .aaron-manwill{
        font-size: 4em;
    }
    .role{
        font-size: 2em;
    }
    .me-img{
        height: 430px;
        width:430px;
    }
    .typing-container{
        width:300px;
   }
}